@import "tailwindcss";

@theme {
  --color-primary: #e8e1d7;
  --color-secondary: #dbdcb5;
  --color-accent: #C9A24D;
  --color-textDark: #243A1D;
}


@layer base {
  body {
    background-color: var(--color-secondary);
    color: var(--color-textDark);
  }
}
